<% layout('layouts/boilerplate') %>

<div class="section-instruments-show">

    <img class="section-instruments-show__image" src="<%= course.image %>" alt="<%= course.name %>">
    <h2 class="section-instruments-show__heading heading-secondary"><%= course.name %></h2>
    <p class="section-instruments-show__paragraph"><%= course.description %></p>

    <h3 class="section-instruments-show__heading">سازها</h3>
    <% for (let instrument of course.instrument) {%>
        <a href="/instruments/<%= instrument._id %>">
            <div class="section-instruments-show__categories">
                <%= instrument.name %>
            </div>
        </a>
    <% } %>

    <h3 class="section-instruments-show__heading">مدرسین</h3>
    <% for (let teacher of course.teacher) {%>
        <a href="/teachers/<%= teacher._id %>">
            <div class="section-instruments-show__categories">
                <%= teacher.name %>
            </div>
        </a>
    <% } %>

    <a class="btn btn-tetriary" href="/courses/<%= course.id%>/edit">بازنگارش</a>
    <form action="/courses/<%= course._id%>?_method=DELETE" method="post">
        <button class="btn btn-tetriary">حذف</button>
    </form>
</div>