<% layout('layouts/boilerplate') %>
<div class="teachers-new">
    <h1> بازنگارش <%= teacher.name %> </h1>
    <form action="/teachers/<%=teacher._id%>?_method=PUT" method="post" class="validated-form comment" novalidate>
        <div class="">
            <label for="image" class="form-label comment-label">تصویر (portrait)</label>
            <input   type="text" class="form-control comment-input" id="image" name="teacher[image]" value="<%= teacher.image %>" required>
            <div class="valid-feedback">
                مناسب
            </div>
        </div>
        <div class="">
            <label for="name" class="form-label comment-label">نام</label>
            <input dir="rtl" type="text" class="form-control comment-input" id="name" name="teacher[name]" value="<%= teacher.name %>" required>
            <div class="valid-feedback">
                مناسب
            </div>
        </div>
        <div class="">
            <label for="course" class="form-label comment-label">کلاس</label>
            <input dir="rtl" type="text" class="form-control comment-input" id="course" name="teacher[course]" value="<%= teacher.course %>" required>
            <div class="valid-feedback">
                مناسب
            </div>
        </div>
        <div class="">
            <label for="age" class="form-label comment-label">سن</label>
            <input dir="rtl" type="text" class="form-control comment-input" id="age" name="teacher[age]" value="<%= teacher.age %>" required>
            <div class="valid-feedback">
                مناسب
            </div>
        </div>
        <div class="">
            <label for="description" class="form-label comment-label">توضیحات</label>
            <textarea dir="rtl" name="teacher[description]" id="description" cols="30" rows="10" class="form-control comment-message" required><%= teacher.description %></textarea>
            <div class="valid-feedback">
                مناسب
            </div>
        </div>
        <button class="btn btn-tetriary">ثبت تغییرات</button>
    </form>
    <a class="btn btn-tetriary" href="/teachers/<%=teacher._id%>">بازگشت</a>

</div>