<% layout('layouts/boilerplate') %>

    <h2 class="heading dark-heading">هنرآموزان آموزشگاه</h2>
    <% for(let teacher of teachers) {%>
    <div class="section-teachers">
        <div class="section-teachers__img">
            <img src="<%= teacher.image %>" alt="<%= teacher.name %>">
        </div>
        <div class="section-teachers__description">
            <h3 class="section-teachers__heading"><a href="/teachers/<%= teacher._id %>"><%= teacher.name %></a></h3>

            <% if (teacher.instrument) {%>
                <% for (let instrument of teacher.instrument) {%>
                    <a href="/instruments/<%= instrument._id %>">
                        <h4 class="tag">
                            <%= instrument.name %>
                        </h4>
                    </a>
                <% } %>
            <% } %>
            <p class="section-teachers__paragraph"><%= teacher.description %></p>

        </div>
    </div>
    <% } %>
<a href="/teachers/new" class="btn btn-tetriary"> عضو جدید</a>
